body {
  font-family: Tahoma, sans-serif;
  background-color: #24262D;
}

li {
  list-style: inside;
}

.li-none-bullet {
  list-style-type: none;
  padding: 1em 0;
}

/*************** PARALLAX ***************/

.parallax {
  height: 100vh;
  background: -webkit-linear-gradient(rgba(80, 80, 87, 0.8), rgba(195, 55, 100, 0.8)), url("/img/bookshelves.jpg");
  background: linear-gradient(rgba(80, 80, 87, 0.8), rgba(195, 55, 100, 0.8)), url("/img/bookshelves.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.parallax-content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  padding-top: 40vh;
  z-index: 2;
}

.logo-parallax {
  max-width: 80%;
}

/************* REVEAL ELEMENTS ***********/

.top-left-main-item,
.top-right-main-item,
.gallery-item,
.top-left-main-item-manager,
.top-right-main-item-manager,
.comments-item-left,
.comments-item-right,
.logo-parallax,
.main-bottom-button {
  opacity: 0;
  transform: translateY(90px);
  transition: opacity 0.8s ease-out, transform 1.2s ease-out;
}

.comments-item-right.reveal {
  transform: none;
  transition: opacity 3s ease-out;
}

.top-right-main-item,
.top-right-main-item-manager,
.gallery-item {
  transition-delay: 0.2s;
}

.comments-item-right {
  transition-delay: 0.1s;
}

/*************** HEADER ***************/

.header {
  position: sticky;
  top: 0;
  background-color: #24262D;
  padding: 10px 16px;
  color: #f1f1f1;
  z-index: 10
}

.header a {
  color: white;
  text-decoration: none;
}

.header a:hover {
  color: #fe5b33;
  text-decoration: none;
}

.header-container {
  width: 100%;
  min-height: 80px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

#home-link {
  color: #fe5b33;
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

.left-header-item {
  width: 30%;
  text-align: center;
}

.left-header-item img {
  max-width: 200px;
}

.header-items-container {
  width: 30%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.header-item-right {
  width: 100%;
  color: white;
  display: none !important;
  text-align: right;
}

.header-item-left {
  width: 100%;
  color: white;
  display: none !important;
  text-align: left;
}

.right-header-items-container {
  width: 30%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: right;
  align-items: center;
}

.right-header-item {
  display: none !important;
  padding: 5px;
}

.login {
  border: 1px solid #424242;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 14px;
  transition: 0.4s;
}

.login:hover {
  color: white !important;
  border: 1px solid white;
}

#headphone {
  background: #ffb82f;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
  vertical-align: middle;
  padding: 2px;
  transition: 0.4s;
}

#headphone:hover {
  background: #a3761c;
}

#telephone {
  background: #fe5b33;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
  vertical-align: middle;
  padding: 2px;
  transition: 0.4s;
}

#telephone:hover {
  background: #6b2b1b;
}

/*************** MOBILE NAVIGATION MENU ***************/

/* Start hidden */
.dropdown-menu-hidden {
  display: none;
  position: absolute;
  top: 80px; /* Debajo de la cabecera */
  right: 10px; /* Alineado al borde derecho */
  background-color: #24262D; /* Color de fondo del menú */
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 100;
  width: 200px; /* Ancho del menú */
}

/* Visible menu */
.dropdown-menu-visible {
  display: block;
}

#dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


#dropdown-menu ul li {
  border-bottom: 1px solid #444;
}

#dropdown-menu ul li:last-child {
  border-bottom: none;
}

#dropdown-menu ul li a {
  display: block; /* All width */
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover */
#dropdown-menu ul li a:hover {
  background-color: #444;
  color: #fe5b33;
}


/*************** NAVIGATION MENU ***************/

.nav-menu-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border-top: 0px solid #424242;
  border-bottom: 0px solid #424242;
}

.nav-menu-item {
  display: none;
  width: 8%;
  color: white;
  text-align: center;
  font-size: 14px;
}

.nav-menu-item a {
  color: #929396;
}

.nav-menu-item a:hover {
  text-decoration: none;
}

.name-menu-active a {
  color: #fe5b33;
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

.name-menu-active a:hover {
  text-decoration: underline;
}


/*************** MAIN ***************/

.main {
  background-color: #24262D;
  color: white;
  padding-bottom: 80px;
  /* padding-top: 25px; */
}

.top-main-container {
  padding: 2em;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;

}

.top-main-container span {
  border-bottom: 3px solid #fe5b33;
}

.top-left-main-item {
  display: flex;
  flex-flow: column wrap;
  padding-bottom: 2em;
}

.top-left-main-item h1 {
  font-size: 50px;
}

.search {
  background-color: white;
  font-size: 18px;
  color: #a7a8ab;
  min-height: 10px;
  margin-top: 30px;
  padding: 15px;
  cursor: text;
}

.top-main-item {
  text-align: right;
  width: 40%;
}

.top-right-main-item {
  text-align: left;
}

.top-right-main-item p {
  padding-bottom: 25px;
}

.main-info {
  color: #d8d8d8;
  padding: 2em 2em 2em 2em;

}

/*************** MAIN-BOTTOM ***************/

.main-bottom {
  width: 100%;
  background-color: #fff;
}

.main-bottom-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 45px 0 70px 0;
  color: #24262D;
  border-bottom: 1px solid #dbdbdb;
}

.left-main-bottom-item {
  width: 80%;
  text-align: left;
  padding-bottom: 15px;
}

.right-main-bottom-item {
  width: 40%;
  text-align: right;
}

.main-bottom-button {
  background-color: #ffb82f;
  color: #24262D;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition: 0.4s;
}

.main-bottom-button:hover {
  background-color: #573f0e;
  color: white !important;
}

/***************** CHAT *****************/

.card-chat {
  width: 260px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.chat-header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}

.chat-window {
  height: 220px;
  overflow-y: scroll;
  padding: 10px;
  background-color: #f9f9f9;
}

.message-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.message-list>div {
  margin-bottom: 1em;
  border: 1px solid #b0b0b0;
  background-color: #ddd;
  border-radius: 5px;
  padding: 5px;
}

.chat-input {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #f9f9f9;
}

.message-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

.send-button {
  border: none;
  outline: none;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.send-button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.chat-toggle-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.chat-toggle-button:hover {
  background-color: #555;
}

.close-chat-button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  padding: 5px 10px;
  float: right;
  cursor: pointer;
}

.close-chat-button:hover {
  background-color: #d32f2f;
}

.chat-hidden {
  display: none;
}

.chat-visible {
  display: block;
}


/*************** COMMENTS ***************/

.comments-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  justify-content: space-evenly;
  min-height: 500px;
  background: #C33764;
  background: -webkit-linear-gradient(rgba(80, 80, 87, 0.8), rgba(195, 55, 100, 0.8)), url("/img/bookshelves.jpg");
  background: linear-gradient(rgba(80, 80, 87, 0.8), rgba(195, 55, 100, 0.8)), url("/img/bookshelves.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 40px 0;
}

.comments-item-left {
  width: 80%;
}
.comments-item-right {
  width: 80%;
  padding-top: 2em;
}

.add-comment-button {
  padding-top: 1em;
}

/* Tabla general */
.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo de cabecera */
.table thead {
  background-color: #343a40;
  color: #ffffff;
  text-align: left;
}

.table thead th {
  font-size: 1rem;
  border-bottom: 2px solid #ddd;
}

/* Estilo de las filas */
.table tbody tr {
  transition: background-color 0.3s ease;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #e9ecef;
}

.table tbody td {
  padding: 0.8rem;
  border-bottom: 1px solid #ddd;
}

/*Button Show Comments*/
#show-comments {
  color: #2b2b2b;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/**********INPUT BOX****************/

.inputBox {
  position: relative;
  background-color: rgba(244, 177, 161, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  margin-top: 2em;
  padding: 2em;
  border: #24262D;
  border-radius: 2%;

}

.inputBox input,
.inputBox textarea,
.inputBox select {
  outline: none;
  border-radius: 5px;
  border: 1px solid#e8e8e8;
  font-size: 1em;
}


/*************** GALLERY ***************/

.gallery {
  background-color: #fff;
}

.book-title-bg {
  background-color: rgb(191, 68, 20);
}

.card {
  border: none;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-weight: bold;
  color: #fff;
}

.card-body.bg-light {
  background-color: #f8f9fa;
  border-top: 2px solid #e0e0e0;
  border-radius: 0 0 10px 10px;
}

.shadow-sm {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.small-text {
  font-size: 0.85rem;
}

.list-group {
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}



/*************** FOOTER ****************/

.list-group-item.custom-bg {
  background-color: #5b5b5b;
  color: #ffffff;
}

.list-group-item.custom-bg a {
  color: #ffffff;
}

.list-group-item.custom-bg a:hover {
  color: #dddddd;
}

.list-group-item.custom-header {
  background-color: rgb(64, 64, 64);
  color: #ffffff;
}

.credits {
  color: white;
  text-align: center;
}

.credits p {
  color: #d8d8d8;
}

.credits a {
  color: white;
  text-decoration: none;
}

.credits a:hover {
  color: #fe5b33;
}


.reveal {
  opacity: 1;
  transform: translateY(0);
}

/*************** MEDIA QUERIES ***************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .search {
    margin-bottom: 30px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .top-left-main-item {
    width: 90%;
  }

  .search {
    margin-bottom: 30px;
  }

  .gallery-item {
    width: 50%;
  }

  .gallery-top {
    width: 35%;
  }

  .chat-container>div {
    width: 40vw;
  }

  .footer-item {
    width: 30%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .header-item-right,
  .header-item-left {
    display: block !important;
    padding: 0.8em;
  }

  .top-right-main-item p {
    padding: 0;
  }

  .top-left-main-item {
    width: 65%;
  }

  .comments-item-left {
    width: 35%;
  }

  .comments-item-right {
    width: 45%;
  }


  .gallery-item {
    width: 30%;
  }

  .footer-item {
    width: 25%;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


  .right-header-item {
    display: block !important;
  }

  .right-header-item-mobile {
    display: none !important;
  }

  .right-header-items-container {
    justify-content: center;
  }

  .nav-menu-container {
    padding: 8px 0 8px 0;
    border-top: 1px solid #424242;
    border-bottom: 1px solid #424242;
  }

  .nav-menu-item {
    display: block !important;
  }

  .gallery-item:nth-child(1) {
    transition-delay: 0s;
  }

  .gallery-item:nth-child(2) {
    transition-delay: 0.2s;
  }

  .gallery-item:nth-child(3) {
    transition-delay: 0.4s;
  }

  .gallery-item:nth-child(4) {
    transition-delay: 0.6s;
  }

  .gallery-item:nth-child(5) {
    transition-delay: 0s;
  }

  .gallery-item:nth-child(6) {
    transition-delay: 0.2s;
  }

  .gallery-item:nth-child(7) {
    transition-delay: 0.4s;
  }

  .gallery-item:nth-child(8) {
    transition-delay: 0.6s;
  }

  .gallery-item:nth-child(9) {
    transition-delay: 0s;
  }

  .gallery-item:nth-child(10) {
    transition-delay: 0.2s;
  }

  .gallery-item:nth-child(11) {
    transition-delay: 0.4s;
  }

  .gallery-item:nth-child(12) {
    transition-delay: 0.6s;
  }

  .left-main-bottom-item {
    width: 65%;
  }

  .right-main-bottom-item {
    width: 20%;
  }

  .top-left-main-item {
    width: 40%;
  }

  .top-right-main-item p {
    padding: 0;
  }

  .comments-item-left {
    width: 30%;
  }

  .comments-item-right {
    width: 40%;
  }

  .gallery-top {
    width: 20%;
  }

  .gallery-item {
    width: 25%;
  }

  .footer-item {
    width: 20%;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}